streamlit
requests
opencv-python
numpy
pillow
pypdfium2

torch
torchvision
torchaudio

surya-ocr
transformers
accelerate

llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma

sentence-transformers

chromadb
